@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
html * {
        box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', serif;
   
      
    }

    .container {
        max-width: 500px;
    }
    .container-fluid {
        max-width: 800px;
        

    }
.row-nav {
    padding: 50px;
    text-transform: uppercase;
    opacity: 0.5;
           
    }

    .navbar-brand {
              font-size: 30px;
              font-weight: 600;
              letter-spacing: 2px; 
    }

    h1 {
        font-family: 'Playfair Display', serif; 
        font-size: 50px;
        font-weight: 200;
        letter-spacing: 0;
        color: rgb(8, 0, 0) ;
      
        
    }
     h1::before {
        content: "";
        display: block;
        position: relative;
        width: 30px;
        border-bottom: 3px solid black;
        padding-bottom: 20px;
        top: 40px;
        left: 120px;
        }
    h2 {
         font-size: 25px;
         opacity: 0.9;
         letter-spacing: 0;
         margin-bottom:  20px;
    }
    h3 {
        font-size: 20px;
        color: gray;
        margin-bottom: 20px;
    }
    .main-text {
                text-align: center;

    }
   h4 {
       font-weight: 500px; 
       opacity: 0.5;
       margin-bottom: 10px;  
   }
   .right-text h4::after {
    content: "";
    display: block;
    position: relative;
    width: 40px;
    border-bottom: 3px solid black;
    padding-bottom: 20px;
    top: 20px;
    left: 320px;
    }
  h5 {
       font-weight: 500;
       letter-spacing: 1px; 

  }
  .left-text h5::after {
    content: "";
    display: block;
    position: relative;
    width: 70px;
    border-bottom: 3px solid black;
    padding-bottom: 20px;
    top: 20px;
    left: 150px;
    }



    .right-text {
               
               text-align: center;
               margin: auto 0;
    }
    .left-text {
        
        text-align: center;
        margin: auto 0;
    }

    .tl-img img {
        height: 300px;
    }